# MQTT Broker Config
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_TOPIC=sensor/dht22

# InfluxDB v2 Config
INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=my-super-secret-auth-token
INFLUXDB_ORG=ptit_iot
INFLUXDB_BUCKET_RAW=sensor_raw
INFLUXDB_BUCKET_PROCESSED=sensor_processed
